@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.nav-underline-animation::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #A30926;
  transition: width 0.3s ease-in-out;
}

.nav-underline-animation:hover::after {
  width: 100%;
}

.nav-hover {
  @apply hover:text-dark !important
}

.nav-hover-primary {
  @apply hover:text-primary !important
}
